<head>
<script src="https://cdn.jsdelivr.net/npm/ol@v9.1.0/dist/ol.js"></script>
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script src="https://cdn.tailwindcss.com"></script>
<script>
  tailwind.config = {
    prefix: 'tw-'
  }
</script>
</head>
  <main id="app" class="tw-flex tw-flex-col tw-gap-6 tw-mb-12 tw-px-6">
  <div class="tw-flex tw-justify-center tw-items-center tw-gap-4">
        <div
          v-for="route in [
            {id: 0, name: routes[0]},
            {id: 1, name: routes[1]},
            {id: 2, name: routes[2]},
          ]"
          @click="addOrLeave(route.id)"
          class="tw-rounded-md tw-shadow tw-p-2 tw-w-64 tw-flex tw-flex-col tw-h-full"
        >
          <div
            class="tw-bg-cover tw-h-28 tw-rounded-md"
            :class="selecteds.includes(route.id) ? '':'tw-grayscale tw-opacity-50'"
            :style="{'background-image': 'url(' + {
              0: 'https://th.bing.com/th/id/R.ad0c4bae03a3b9336ff1f5aa210add17?rik=OlCsLXMXeqY5NA&pid=ImgRaw&r=0',
              1: 'https://th.bing.com/th/id/R.1f60fb6709b2fd1c7d75a32227b80167?rik=6uvbNTHFmnPOIg&riu=http%3a%2f%2fs.glbimg.com%2fjo%2fg1%2ff%2foriginal%2f2014%2f05%2f30%2fo_palco_central_ja_foi_sede_de_shows_apresentacoes_de_danca_e_teatro.jpg&ehk=WmotMvLmizu0s%2bIS4LFfQKQChJmZuXRmcHmWRIDlysE%3d&risl=1&pid=ImgRaw&r=0',
              2: 'https://boavista.rr.gov.br/storage/galerias/turismo/mirante-edileusa/20210601-parque-do-rio-branco---drone_51285693451_o-min.jpg'
            }[route.id] + ')'}"
          ></div>
          <div class="tw-flex tw-justify-between tw-items-center tw-gap-2">
            <span class="tw-font-medium" :class="selecteds.includes(route.id) ? 'tw-text-emerald-500':'tw-text-gray-500'">
              {{route.name}}
            </span>
            <input type="checkbox" :checked="selecteds.includes(route.id)">
          </div>
        </div>
      </div>

    <section class="tw-grid tw-grid-cols-2 tw-gap-6">
  <div class="tw-relative tw-overflow-hidden tw-rounded-2xl tw-h-[500px]">
    <div class="tw-w-full tw-absolute tw-inset-0" id="map"></div>
  </div>        
      <section class="tw-flex tw-flex-col tw-gap-6">
        <div v-for="enterprise in filteredEnterprises" class="tw-flex tw-flex-col tw-gap-4">
          <span class="tw-text-lg tw-font-semibold tw-text-emerald-600 tw-border-b tw-border-b-emerald-600/20">
            {{enterprise.name}}
          </span>
          <div class="tw-flex tw-flex-col tw-gap-4">
            <div v-for="route in enterprise.routes" class="tw-flex tw-gap-2">
              <div 
        v-for="point in route.points" 
        class="tw-rounded-full tw-p-3 tw-shadow-sm tw-bg-emerald-400 tw-text-white tw-font-medium tw-hover:font-bold"
        :class=""
      >
                {{routes[point]}}
              </div>
            </div>
          </div>
        </div>
      </section>
    </section>
  </main>

<!-- Módulo do Vue -->
<script>

  var addOrLeave = () => {};

  const { createApp, ref, computed } = Vue;

  createApp({
    setup() {

      const selecteds = ref([]);

      addOrLeave = (value) => {
        if(selecteds.value.includes(value)) selecteds.value.splice(selecteds.value.indexOf(value), 1);
        else selecteds.value.push(value);
      }

      const routes = ref({
        0: 'Bosque dos Papagaios',
        1: 'Parque Anauá',
        2: 'Mirante',
        3: 'Monte Roraima',
        4: 'Tepequém',
        5: 'Monte Caburaí',
        6: 'Canarinho'
      })

      const enterprises = ref([
        {
          name: 'Roraima Adventure',
          routes: [
      {price: 900, points: [2, 1, 0]}, 
      {price: 450, points: [0, 1, 5]}
    ]
        },
        {
          name: 'Experience Tour', 
          routes: [
      {price: 380, points: [1, 6, 0]},
      {price: 120, points: [2, 6, 0]}
    ]
        },
        {
          name: 'Amazonia Rica', 
          routes: [
      {price: 1200, points: [3, 4, 5]}, 
      {price: 600, points: [0, 5, 6]}
    ]
        },
      ]);

      const filteredEnterprises = computed(() => {
        return enterprises.value.filter(enterprise =>
          enterprise.routes.some(route =>
            selecteds.value.every(point => route.points.includes(point))
          )
        ).map(enterprise => {
          const clone = {...enterprise};
          
          clone.routes = enterprise.routes.filter(route =>
            selecteds.value.every(point => route.points.includes(point))
          );

          return clone;
        });
      });

      return {
        enterprises,
        filteredEnterprises,
        routes,
        selecteds,
        addOrLeave
      }

    }
  }).mount('#app');

</script>

<!-- Módulo do Mapa -->
<script type="module">
  const { Map, View, Feature, source, layer, style, proj, geom } = ol;
  const { OSM, Vector: VectorSource } = source;
  const { Tile: TileLayer, Vector: VectorLayer } = layer;
  const { Icon, Style, Fill, Circle, Stroke } = style;
  const { fromLonLat } = proj;
  const { Point } = geom;

  const view = new View({
    center: [-6750000, 315000],
    zoom: 12,
  });


  const raster = new TileLayer({
    source: new OSM(),
  });


  const p1 = new Feature({
    geometry: new Point(fromLonLat([-60.6816, 2.8390])),
  });

  const fill = new Fill({
    color: 'rgba(255,255,255,0.4)',
  });

  const stroke = new Stroke({
    color: '#3399CC',
    width: 1.25,
  });

  p1.setStyle(
    new Style({
      image: new Circle({
        fill: fill,
        stroke: stroke,
        radius: 5,
      }),
      stroke: stroke,
      fill: fill,
    }),
  );

  p1.setId(0);


  const p2 = new Feature({
    geometry: new Point(fromLonLat([-60.6580, 2.8593])),
  });

  p2.setStyle(
    new Style({
      image: new Circle({
        fill: fill,
        stroke: stroke,
        radius: 5,
      }),
      stroke: stroke,
      fill: fill,
    }),
  );

  p2.setId(1);


  const p3 = new Feature({
    geometry: new Point(fromLonLat([-60.6705, 2.8108])),
  });

  p3.setStyle(
    new Style({
      image: new Circle({
        fill: fill,
        stroke: stroke,
        radius: 5,
      }),
      stroke: stroke,
      fill: fill,
    }),
  );

  p3.setId(2);



  const vectorSource = new VectorSource({
    features: [p1, p2, p3],
    wrapX: false,
    useSpatialIndex: true
  });

  const vector = new VectorLayer({
    vectorSource: vectorSource,
  });

  const map = new Map({
    layers: [raster, vector],
    target: 'map',
    view: view,
  });


  // const selecteds = document.querySelector('#selecteds');

  map.on('click', function(event){
    addOrLeave(vectorSource.getClosestFeatureToCoordinate(event.coordinate).getId());
  });


</script>
</html>